@import 'colors';
@import 'layers';

.center {
  width: 100vw;
  height: 100vh;

  z-index: $middle;

  background: $primary;

  @include position(fixed);

  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  top: 0;
  left: 0;
}

h1, label {
  color: $primarytext;
}

label {
  font-size: 1.5em;
}

.login-button {
  @include position(absolute);
  z-index: $top;
  background: $primarytext;
  left: 41%;
  top: 550px;
  color: $primary;
  font-size: 1em;
}

#username {
  max-width: 25vw;
  max-height: 10vh;
}
