@import 'colors';

.messages li {
  &:nth-child(even) {
    background: $primary;
    color: $primarytext;
    margin-bottom: 0;

    border-radius: .5em;
    padding: 20px;
  }

  &:nth-child(odd) {
    color: $secondarytext;
    margin-bottom: 3em;

    border-radius: .75em;
    padding: 2em;
  }
}

ul.messages {
  list-style-type: none;
  margin-right: 2em;
}

.message {
  line-height: 1.5em;
  font-size: 2em;
  text-align: center;

  font-family: 'Fjalla One', sans-serif;
}

.message-container {
  margin-left: 4em;
  border: .15em solid $primarytext;
  background: url("../images/milhouse.png");
  background-position: right top;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  color: $primarytext;
  font-size: 1em;
  background-color: $pink;
  align-content: center;

  position: relative;
  top: 10%;
  left: 20%;

  padding: 3em;
}

body {
  background-color: $pink;
}

.message-button {
  background-color: $primarytext;
  color: $pink;
  font-size: 1.15em;
  position: absolute;
  top: 35%;
  left: 76%;
  height: 50%;
  width: 10%;
}
